[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
djangorestframework-jwt = "*"
psycopg2 = ">=2.7.5,<2.8.9"
pytest = "*"
pytest-django = "*"
black = "*"
flake8 = "*"
django-rest-authtoken = "*"
Django = ">=3.2.1,<3.2.9"

[dev-packages]

[requires]
python_version = "3.10"
